<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img class="logo-size"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYACk9NRo57nsV3ewonjETCZbYbpQcwY37IOdkUkSCq-9XL0CAag&s">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/category-management">Category Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/color-management">{{'Color Management'|uppercase}}</a>
      </li>
      <li id="li_myid" appDropDownMenu class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <!-- <a routerLink="/auth" class="btn btn-outline-success my-2 my-sm-0">{{buttonText}}</a> -->
      <a (click)="onSignOut()" class="btn btn-outline-success my-2 my-sm-0">Sign Out</a>
    </div>
  </div>
</nav>