
<ng-template *ngIf="model | arrayCheck else nodata">
<ul *ngFor="let menuItem of model" class="list-group">
    <li appMenuHover class="list-group-item">{{menuItem.title}}</li>
</ul>
</ng-template>
<ng-template #nodata>
    <span>Sorry for inconvenience! Menu service is not avaliable right now!</span>
</ng-template>
