<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-header *ngIf="authService.isAuthenticated()"></app-header>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="authService.isAuthenticated()">
      <div class="col col-2">
        <app-aside></app-aside>
      </div>
      <div class="col col-10">
        <router-outlet></router-outlet>
      </div>
    </ng-container>
    <ng-container *ngIf="!authService.isAuthenticated()">
      <div class="col col-12">
        <router-outlet></router-outlet>
      </div>
    </ng-container>
  </div>
</div>