<form *ngIf="componentMode===0 || componentMode===2" class="m-form m-form--state m-form--fit m-form--label-align-right" (ngSubmit)="onUpsertSubmit()" #upsertForm="ngForm">
  <div class="form-group m-form__group">
    <label for="name">Category Name</label>
    <input type="text" class="form-control m-input" name="name" placeholder="Category Name" [(ngModel)]="model.name" required>
    <span class="m-form__help">Örneğin: Jacket, Suit, Knitwear gibi </span>
  </div>
  <div class="form-group m-form__group">
    <label for="displayOrder">Display Order</label>
    <input type="number" min="0" class="form-control m-input" name="displayOrder"  placeholder="Display Order" [(ngModel)]="model.displayOrder">
    <span class="m-form__help">Örneğin: 5 gibi</span>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="row m-form__actions">
      <div class="col m--align-right">
        <button type="submit" [disabled]="!upsertForm.valid" class="btn" 
        [ngClass]="{'btn-success':upsertForm.valid,'btn-danger':!upsertForm.valid}">{{actionButtonText}}</button>
      </div>
    </div>
  </div>
</form>
<form #deleteForm *ngIf="componentMode===3">
  <div class="form-group m-form__group m--margin-top-10">
    <div class="alert m-alert m-alert--default" role="alert">
      Are you sure?
    </div>
  </div>
  <div class="m-form__section m-form__section--first">
    <div class="form-group m-form__group m-form__group--sm row">
      <label class="col-xl-4 col-lg-4 col-form-label">Category Name:</label>
      <div class="col-xl-8 col-lg-8">
        <span class="m-form__control-static">{{model.name}}</span>
      </div>
    </div>
    <div class="form-group m-form__group m-form__group--sm row">
      <label class="col-xl-4 col-lg-4 col-form-label">Display Order:</label>
      <div class="col-xl-8 col-lg-8">
        <span class="m-form__control-static">{{model.displayOrder}}</span>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="row m-form__actions">
      <div class="col m--align-right">
        <button type="submit" class="btn btn-danger">{{actionButtonText}}</button>
      </div>
    </div>
  </div>
</form>
<ng-container *ngIf="componentMode===1">
  <div class="m-form__section m-form__section--first">
    <div class="form-group m-form__group m-form__group--sm row">
      <label class="col-xl-4 col-lg-4 col-form-label">Category Name:</label>
      <div class="col-xl-8 col-lg-8">
        <span class="m-form__control-static">{{model.name}}</span>
      </div>
    </div>
    <div class="form-group m-form__group m-form__group--sm row">
      <label class="col-xl-4 col-lg-4 col-form-label">Display Order:</label>
      <div class="col-xl-8 col-lg-8">
        <span class="m-form__control-static">{{model.displayOrder}}</span>
      </div>
    </div>
  </div>
</ng-container>