<div #modalContainer class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div *ngIf="modalService.modalSetupOptions?.showHeader" class="modal-header">
        <h5 class="modal-title">{{modalService.modalOptions?.title}}</h5>
        <button type="button" class="close" (click)="modalService.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <ng-template appModalBody></ng-template>
      </div>
      <div *ngIf="modalService.modalSetupOptions?.showFooter" class="modal-footer">
        <button type="button" class="btn btn-secondary">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>